<div style="
  background-color: rgba(0, 0, 0, 0.692); 
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  border:none;
">
  <div style="
        background-color: rgba(255, 255, 255, 0.863);
        width: 100%;
        max-width: 400px; 
        height: 500px;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
        align-items: flex-start; 
    ">
    <div style="
        background-color: rgba(0, 0, 0, 0.692); 
        color: rgba(255, 255, 255, 0.863);
        width: 100%; 
        border-radius: 10px;
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    ">
      <h1 style="text-align: center;">Cadastre o seu currículo</h1>
    </div>
    <form id="gandalf" action="/add-curriculo" method="POST" style="
      width: 100%; 
      height: 380px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      ">
      <input type="hidden" name="_csrf" value="{{crsfToken}}" />
      <label for="name">
        Nome:
      </label>
      <input type="text" name="name" id="name" autofocus required />

      <label for="phone">
        Telefone:
      </label>
      <input type="tel" name="phone" id="phone" placeholder="DDD+número" minlength="10" maxlength="11" />

      <label for="email">
        Email:
      </label>
      <input type="email" name="email" id="email" placeholder="example@example.com" required />

      <label for="web_address">
        Endereço WEB:
      </label>
      <input type="text" name="web_address" id="web_address" />

      <label for="experience">
        Experiência profissional:
      </label>
      <textarea name="experience" id="experience" rows="5" cols="50" maxlength="1000" required></textarea>

      <input type="submit" value="Cadastrar" style="
        background-color: rgba(0, 0, 0, 0.692); 
        color: rgba(255, 255, 255, 0.863);
        border: none; 
        padding: 5px 50px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor:pointer
        " />
    </form>
  </div>
</div>
<script>
  function validateName(element) {
    let value = element.value;

    if (typeof value != 'string') {
      return false;
    }

    const regex = new RegExp(/[a-zA-Z+ ]/, 'g');
    const result = regex.test(value);

    if (result == false) {
      return false;
    }

    return true;
  }

  function validatePhoneField(element) {
    let value = element.value;

    const regex = /^[0-9]$/;
    const result = regex.test(value);

    if (result == false) {
      return false;
    }

    if (value.length < 10 || value.length > 11) {
      return false;
    }

    return true;
  }

  function validateEmail(element) {
    let value = element.value;

    if (typeof value != 'string') {
      return false;
    }

    const regex = /^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$/;
    const result = regex.test(value);

    if (result == false) {
      return false;
    }

    return true;
  }

  function validateWebAddress(element) {
    let name = element.value;

    if (typeof name != 'string') {
      return false;
    }

    const regex = /^[a-zA-Z0-9_.-]+$/;
    const result = regex.test(name);

    if (result == false) {
      return false;
    }

    return true;
  }

  function validateExperience(element) {
    let value = element.value;

    if (typeof value != 'string') {
      return false;
    }

    const regex = /^[a-zA-Z0-9., ]+$/;
    const result = regex.test(value);

    if (result == false) {
      return false;
    }

    return true;
  }

  let youShallNotPass = document.getElementById('gandalf');
  youShallNotPass.addEventListener('submit', function(e) {
    
    const nameElement = document.getElementById('name');
    const phoneElement = document.getElementById('phone');
    const emailElement = document.getElementById('email');
    const web_addressElement = document.getElementById('web_address');
    const experienceElement = document.getElementById('experience');

    if (validateName(nameElement) == false) {
      e.preventDefault();
      return;
    }
    if (validatePhoneField(phoneElement) == false) {
      e.preventDefault();
      return;
    }
    if (validateEmail(emailElement) == false) {
      e.preventDefault();
      return;
    }
    if (validateWebAddress(web_addressElement) == false) {
      e.preventDefault();
      return;
    }
    if (validateExperience(experienceElement) == false) {
      e.preventDefault();
      return;
    }

    youShallNotPass.submit();
  });
</script>